venv/
.DS_Store
__pycache__/
uav_data/uav_blackbox_data_as_csv/
uav_data/uav_raw_blackbox_data/
.idea/
uav_data/boaz_csv_flight_data/
uav_data/boaz_csv_flight_data/anomalous_data/
uav_data/boaz_csv_flight_data/normal_data/
uav_data/synthetic_data/anomalous_data/
uav_data/synthetic_data/normal_data/
best_model.pth
checkpoint_epoch.pth
src/data/models_metrics/
