venv/
.DS_Store
__pycache__/
uav_data/uav_blackbox_data_as_csv/
uav_data/uav_raw_blackbox_data/
.idea/
uav_data/boaz_csv_flight_data/
uav_data/boaz_csv_flight_data/anomalous_data/
uav_data/boaz_csv_flight_data/normal_data/
uav_data/synthetic_data/anomalous_data/
uav_data/synthetic_data/normal_data/
best_model.pth
checkpoint_epoch.pth
src/data/models_metrics/
skab_data/README.md
skab_data/anomalous_data/
skab_data/anomaly-free/
skab_data/normal_data/
skab_data/other/
skab_data/valve1/
skab_data/valve2/
ServerMachineDataset/LICENSE
ServerMachineDataset/interpretation_label/
ServerMachineDataset/interpretation_label_csv/
ServerMachineDataset/test/
ServerMachineDataset/test_csv/
ServerMachineDataset/test_label/
ServerMachineDataset/test_label_csv/
ServerMachineDataset/train/
ServerMachineDataset/train_csv/
ServerMachineDataset/anomalous_data/
ServerMachineDataset/normal_data/
